@{
    Layout = "~/Views/Shared/_LayoutAut.cshtml";
}

<div>

    <section id="banner">
        <div class="content">
            <header>
                <h1>Онлайн-аптека <br />
                    Добро пожаловать!</h1>
                <p>Сервис для выбора и заказа лекарственных средств и другой аптечной продукции</p>
            </header>
            <p>  На сайте представлен полный набор товаров для красоты и здоровья: средства ортопедии, измерительные приборы, спортивное питание, витамины и БАДы. Можно подобрать любые товары на каждый день для женщин и мужчин: косметика, контрацепция, средства гигиены. </p>
            <ul class="actions">
                <li><a href="#" class="button big">Каталог товаров</a></li>
            </ul>
        </div>
        <span class="image object" >
            <img src="https://localhost:44302/images/iStock-1035004756_d_850.jpg" alt="" />
        </span>
    </section>
</div>