<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Магазин растений</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>Онлайн-магазин растений</strong></a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Онлайн-магазин растений <br />
											Наши Контактные данные</h1>
											<p>Сервис для выбора и заказа цветов, растений, семян, саженцев и т.д.<br />
												Адрес: г. Минск, пр. Независимости, 67<br />
												Телефон: +377 29 1564732
											</p>
										</header>
										<div>
											<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.791537988806!2d27.59286681554737!3d53.917680180102685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfa7d408bda3%3A0xbf9eab7e6e9a7d89!2sBSUIR%2C%20Bulding%20%231!5e0!3m2!1sen!2sby!4v1608265748372!5m2!1sen!2sby" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
										</div>
							
									</div>
	
								</section>

							</div>
					</div>
		

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Поиск" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Меню</h2>
									</header>
									<ul>
										<li><a href="index.html">Вход</a></li>
										<li><a href="generic.html">Поиск по характеристикам</a></li>
										<li><a href="elements.html">Контактные данные</a></li>
										<li>
											<span class="opener">Категории товаров</span>
											<ul>
												<li><a href="#">Деревья</a></li>
												<li><a href="#">Семена</a></li>
												<li><a href="#">Цветы</a></li>
												<li><a href="#">Овощи</a></li>
											</ul>
										</li>
										
										
									</ul>
								</nav>

							

							

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. Student project.BSUIR</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>